<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2>Login</h2>
		<p>Welcome! Use this form to login into your application.</p>
		
		<hr>

		<p><input type="text" class="form-control" placeholder="Email Address..." ng-model="email" required /></p>
		<p><input type="password" class="form-control" placeholder="Password..." ng-model="password" required /></p>

		<hr>

		<p><button type="button" class="btn btn-success form-control" ng-click="login()">Login</button></p>

		<hr>

		<p><a href="#signup">First time here? <b>Sign up!</b></a></p>
	</div>
</div>